
.container{
    background-color: #1f2235;
   
    height: 200px;
}
.topbody{
    width: 70%;
    margin: auto;
     border: 2px solid red;
     height: 100%;
     display: grid;
     grid-template-columns:repeat(2, 1fr);
     padding: 2%;
}
.topbodyleft{
    border: 1px solid green;
     height: 80%;
}
.topbodyright{
      border: 1px solid green;
       height: 80%;
}